@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
.thContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    border: 1px solid transparent;
    background-color: transparent;
}

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10vw;
   
    width: 80vw;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .search-box input[type="text"] {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border-color: rgb(160, 160, 160);
    

  }
  .search-box .fa-search {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #3c75fb;
   
  }
#primary{
  background-color: #3c75fb;
}

/* Add this to your component's CSS file */
.thContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.thContainer.active {
  background-color: #f0f0f0; /* Highlight active column header */
}

.thContainer button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 2px;
}

.thContainer button.activeAsc {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.thContainer button.activeDesc {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
