.container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.productDetails{
    padding-left: 55px;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
span{
    
    font-weight: 500;
    color: #000000;
}