<!-- <app-header></app-header> -->
<!-- <app-menu></app-menu> -->
<div class="div" style="min-height: 500px;">
    <app-main></app-main>
</div>

<app-footer></app-footer> 
<!-- <app-home></app-home> -->

<!-- <app-product-list></app-product-list> -->
<!-- <app-parent></app-parent> -->

<!-- <app-product-search></app-product-search> -->
<!-- <app-sort-example></app-sort-example> -->
<!-- <app-register></app-register> -->
<!-- <app-product-manage></app-product-manage> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-register-reactive-form></app-register-reactive-form> -->