<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>Registration Form</h3>
                </div>
                <div class="card-body">
                    <form #registerForm="ngForm" [appMatchPasswords]="['password','confirmPassword']">
                        <div class="form-group">
                            <label class="form-label" name="firstNameLabel">First Name</label>
                            <input type="text" class="form-control" #fName="ngModel" ngModel name="firstName" 
                            required
                            pattern="[A-Z,a-z]*"
                            />
                            <div *ngIf="!fName?.valid && fName?.touched" class="text-danger">
                                <p *ngIf="fName?.errors?.['required']"> First Name is required</p>
                                <p *ngIf="fName?.errors?.['pattern']"> First Name should have only alphabets</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" #lName="ngModel" ngModel name="lastName" 
                            required
                            pattern="[A-Z,a-z]*"
                            />
                            <div *ngIf="!lName?.valid && lName?.touched" class="text-danger">
                                <p *ngIf="lName?.errors?.['required']"> Last Name is required</p>
                                <p *ngIf="lName?.errors?.['pattern']"> Last Name should have only alphabets</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Id</label>
                            <input type="text" class="form-control" #emailId="ngModel" ngModel name="emailId" 
                            required
                            pattern="[a-zA-Z0-9._%+-]+@intelliswift.com"
                            />
                            <div *ngIf="!emailId?.valid && emailId?.touched" class="text-danger">
                                <p *ngIf="emailId?.errors?.['required']"> EmailId is required</p>
                                <p *ngIf="emailId?.errors?.['pattern']">Email format is not correct </p>
                            </div>
                            <div *ngIf="serverErrors =='EAE' ">
                                <p style="color: red;" >Email id already exists </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="text" class="form-control" #password="ngModel" ngModel name="password" 
                            required
                            minlength="8"
                            appCheckForPasswordStrength
                            />
                            <div *ngIf="!password?.valid && (password?.touched || password.dirty)" class="text-danger">
                                <p *ngIf="password?.errors?.['required']"> Password is required</p>
                                <p *ngIf="password?.errors?.['minlength']"> Password should be minimum 8 characters long</p>
                                <div *ngIf="password?.errors?.['passwordStrength']">
                                    <p *ngIf="password?.errors?.['passwordStrength'].upperCase == false">One upper case character should be present in the password</p>
                                    <p *ngIf="password?.errors?.['passwordStrength'].lowerCase == false">One lower case character should be present in the password</p>
                                    <p *ngIf="password?.errors?.['passwordStrength'].number == false">One digit character should be present in the password</p>
                                    <p *ngIf="password?.errors?.['passwordStrength'].specialChar == false">One special character should be present in the password</p>
                                </div>
                            </div>
                            <div>
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input type="text" class="form-control" #confirmPassword="ngModel" ngModel name="confirmPassword" 
                            required
                            />
                            <div *ngIf="!confirmPassword?.valid && confirmPassword?.touched" class="text-danger">
                                <p *ngIf="confirmPassword?.errors?.['required']"> Confirm Password is required</p>
                                <p *ngIf="confirmPassword?.errors?.['passwordsNotMatching']"> Password and Confirm Password should be the same</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Start date</label>
                            <input type="date" class="form-control" #startDate="ngModel" [(ngModel)]="startDateModel" name="startDate" 
                            required
                            (blur)="displayStartDate($event); validateDates()"
                            />
                           
                            <div *ngIf="!startDate.valid && (startDate.touched || startDate.dirty)" class="text-danger">
                                <p *ngIf="startDate.errors?.['required']">Start date is required</p>
                                <p *ngIf="startDateModel && endDateModel && endDateInvalid">Start date should be less than end date</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">End date</label>
                            <input type="date" class="form-control" #endDate="ngModel" [(ngModel)]="endDateModel" name="endDate" 
                            required
                            (ngModelChange)="validateDates()"
                            />
                            <div *ngIf="!endDate.valid && (endDate.touched || endDate.dirty)" class="text-danger">
                                <p *ngIf="endDate.errors?.['required']">End date is required</p>
                                <p *ngIf="startDateModel && endDateModel && endDateInvalid">End date should be greater than start date</p>
                            </div>
                        </div>
                      <div class="form-group">
    <label class="form-label">Mobile Number</label>
    <input
        type="text"
        class="form-control"
        #mobileNumber="ngModel"
        ngModel
        name="mobileNumber"
        required
        pattern="^\d{10}$"
    />
    <div *ngIf="!mobileNumber?.valid && mobileNumber?.touched" class="text-danger">
        <p *ngIf="mobileNumber?.errors?.['required']">Mobile Number is required</p>
        <p *ngIf="mobileNumber?.errors?.['pattern']">Mobile Number must be exactly 10 digits</p>
    </div>
</div>

                        <div class="form-group">
                            <input type="button" [disabled]="registerForm.invalid" class="btn btn-primary mt-2" value="Sign In" (click)="signInEventHandler(registerForm)"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card fixed-card">
                <div class="card-header">
                    <h3>Form Values</h3>
                </div>
                <div class="card-body">
                    <p>Form Values: {{registerForm.value |json}}</p>
                    <p>Is Form Valid: {{registerForm.valid}}</p>
                    <p>Form Errors: {{registerForm.errors |json}}</p>
                    <p>Control errors</p>
                    <p>Errors in FirstName:</p>
                </div>
            </div>
        </div>
    </div>
</div>